*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color: white;
  background-color: #0f0e0e;
  font-family: Lato, sans-serif;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*Lista de tareas*/
.toDo_list_container{
  width: 600px;
  min-height: 500px;
  background-color: #ff94e0;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
}

h2{
  color: #1b1b32;
  font-size: 30px;
  font-family: Roboto,sans-serif;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: underline;
}